page-login {
    .text-error {
        color: red;
        margin-left: 16px;
        font-size: 12px;
        margin-bottom: 0;
    }
    ion-card ion-row{
        padding: 20px;
        float: center;
    }
}