<ion-menu [content]="content">
    <ion-content>
        <span *ngIf="info != undefined else second">
            <div class="app-profile-details half-bg" text-center>
                <div class="pic">
                    <img alt="" [src]="info.foto">
                    <!-- <ion-badge class="badge badge-md">.</ion-badge> -->
                </div>
                    <h5 class="text-title" capitalize>{{info.nama}}</h5>
                    <span class="text-title">-</span>
            </div>
        </span>

        <ng-template #second>
            <div class="app-profile-details half-bg" text-center>
                <button ion-button small outline color="light" (click)="logIn()" menuClose> Login Terlebih Dahulu</button>
            </div>
        </ng-template>

        <ion-list>
            <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
                <ion-icon name="{{p.icon}}"></ion-icon>
                {{p.title}}
            </button>
        </ion-list>
    </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>